<style>
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
</style>
<% if logged_in? %>
    <script type="text/javascript">
        
        window.currentUser = {
            "id": <%= current_user.id %>,
            "username": "<%= current_user.username %>",
            "name": "<%= current_user.name%>"
        }
    </script>
<%end%>


<main id="root">React is broken</main>