/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 

 #formdivsignup {
     /* background-color: aqua; */
     border: 1px solid rgb(224, 223, 223);
     border-radius: 4px;
     display: flex;
     flex-direction: column;
     /* justify-content: space-evenly; */
     /* align-items: center; */
     height: 400px;
     margin: auto;
     width: 350px;
     text-align: left;
     box-sizing: border-box;
     font-family: 'Ubuntu', sans-serif;
     box-shadow: 0px 4px 6px 0 hsl(0deg 0% 0% / 20%);
 }

 #formdivlogin {
       /* background-color: aqua; */
       border: 1px solid rgb(224, 223, 223);
       border-radius: 4px;
       display: flex;
       flex-direction: column;
       /* justify-content: space-evenly; */
       /* align-items: center; */
       height: 350px;
       margin: auto;
       width: 350px;
       text-align: left;
       box-sizing: border-box;
       font-family: 'Ubuntu', sans-serif;
       box-shadow: 0px 4px 6px 0 hsl(0deg 0% 0% / 20%);
 }
 
 #formlabel, #formlabelpassword {
     display: flex;
     font-weight:700;
     flex-direction: column;
     line-height: 19px;
     padding-top: 1rem;
     font-size: 15px;
     /* padding-bottom: 10px; */
 } 

 #formlabelpassword {
     padding-bottom: 1rem;
 }

 #formheader, #linkform {
     text-align: left;
     margin-left: 25px;
 }

 #linkform {
     padding-bottom: 1rem;
     width: 300px;
 }

 #formheader {
     font-size: 28px;
     font-weight: 400;
     /* margin-top: 10px; */
     padding-top: 1rem;
 }

 #innerform {
     /* background-color: brown; */
     height: 435px;
     width: 300px;
     margin: auto;
     display: flex;
     flex-direction: column;
     /* line-height: 19px; */
     /* justify-content: space-around; */
 }

 #forminput, #submitform, #linktobuttonlogin {
    line-height: 32px;
    padding-left:0.5rem;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid rgb(124, 123, 123);
 }

 #submitform, #linktobuttonlogin {
    background-color: #f0c14b;
    width: 300px;
    font-size:15px;
    font-weight: 500;
 }

 #submitform:hover, #linktobuttonlogin:hover {
     background-color: #f3b926;
 }

 #submitform:active, #linktobuttonlogin:active {
    background-color: #f1bc35;
    box-shadow: inset 0px 0px 10px rgb(12 1 1/ 55%);
}

 #innerlinkformdiv {
     width: 300px;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 1.5rem;
 }

 #hloginline {
    height:2px; 
    background: #dbdcdc;
    width: 85%;
    margin-bottom:5px;
 }

 #linktobuttonlogin {
     margin-top: 10px;
     text-decoration: none;
     width: 300px;
     text-align: center;
     /* border: solid 2px black; */
     /* border-radius: 25px; */
     /* padding: 10px 43px; */

 }

 #formlogo {
     display: flex;
     margin: auto;
     padding-bottom: 1rem;
     /* align-content: center; */
     width: 288px;
 }

 #header {
    background-color: #131921;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 62px;
    margin: auto;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
 }

 #one {
     display: flex;
     flex-direction: row;
     height: 60px;
     width: 220px;
     justify-content: space-between;
     align-items: center;
    /* border: 1px solid white; */
    
 }

 #navimage{
     /* background-color: transparent; */
     width: 113px;
     height: 60px;
 }

 #pindropimage {
    width: 15px;
    height: 20px;
    margin-top: 20px;
    align-content: flex-end;
    margin-left:10px;
    /* background-color: tomato; */
 }

 #deliverybar {
     display: flex;
     width: 90.64px;
     height: 50px;
     /* border: 1px solid white; */
     color: white;
 }

 #deliverytext {
     display: flex;
     flex-direction: column;
     
     align-content: center;
     width: 90.64px;
     height: 50px;
     margin-top: 10px;
     margin-left:5px;
     text-align: left;
     /* background-color: violet; */
 }
 
 #toptext{
    color: rgb(196, 189, 189);
    font-size: 12.5px;
 }
 #bottomtext {
     color: white;
     font-weight: bold;
     font-size: 14.5px;
 }

 #two {
    
     color: white;
     flex-grow: 4;
     display: flex;
     flex-direction: row;
     align-items: center;
     
 }

 #navallbar {
     width: 52px;
     height: 40px;
     border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
 }

 #navallbar:hover {
     background-color: rgb(204, 197, 197);
 }

 #navsearchbutton {
     width: 45px;
     height: 40px;
     background-color: rgb(254,189,105);
     display:flex;
     margin: auto;
     border-bottom-right-radius: 5px;
     border-top-right-radius: 5px;
 }

 #navsearchbutton:hover {
    background-color: rgb(238,168,71)
 }

 #searchimg{
    width: 45px;
    height: 40px;
 }

 #navsearchtext {
     height: 33px;
     flex-grow:3.5;
 }

 #three {
     border: 1px solid seagreen;
     flex-grow: 1;
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 #navdropdown {
     /* position: relative;
     display: inline-block; */
 }

 #navdropdownbtn {
  background-color: #131921;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; 
 }

 #navdropdowncontent{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 95px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    
 }

#navdropdowncontent:hover {
    background-color: #fff;
    display: flex;
    flex-direction: column;

}
#navdropdown:hover #navdropdowncontent {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
#navdropdown:hover #navdropdownbtn {
    border: 1px solid white;
}

#cartnavbar {
    height: 50px;
}

* {    
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

#BasicHeadImg {
    display: fixed;
    height:400px;
    margin: auto;

}

#BasicHeadImage {
    width: 99%;
    margin: auto;
    margin-top:0px;
}

#firstservice {
    background-color: grey
}

#borderdiv {
    border: 1px solid black;
    height: 600px;
    width:100%;
    margin:auto;
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#basicideadiv {
    height: 500px;
    width: 45.5%;
    background-color: rgb(242,104,4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#basicideatextone {
    font-size: 28px;
}

#basicideatexttwo {
    font-size: 58px;
    font-weight: bold;
}

#minielements {
    height:500px;
    width: 45.5%;
    background-color: rgb(38, 150, 47);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

#toprow, #bottomrow {
    height: 225px;
    width: 100%;
    /* margin:auto; */
    display: flex;
    flex-direction: row;
    background-color: brown;
    justify-content: space-between;
    /* align-items:center; */
}

#bottomrow {
    align-items: flex-end
}

#link {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 225px;
    width: 46.7035%;
}

#first, #second, #third, #fourth {
    /* height: 225px;
    width: 46.7035%; */
    /* margin:auto; */
    height: 100%;
    width: 100%;
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    color: rgb(65, 64, 64);
    font-size: 18px;
}

#first {
    background-color: rgb(255,244,224);
}

#second {
    background-color: #dbdcdc;
}

#third {
    background-color: #dbdcdc;
}

#fourth {
    background-color: rgb(242,104,4);
}

#bbpicture {
    height: 75%;
    width:65%;
    margin-bottom: 30px;
}

#picture {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#text{
    margin-top: 20px;
}

#productindexbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 6rem;
    justify-content: center;
    margin-top: 10px;
    /* background-color: cadetblue; */
}


#productindexdiv {
    /* border: 2px solid black; */
    padding:0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#productindexdiv:hover {
    transform:scale(1.05);
    background-color: #dbdcdc;
}

#productindeximage{
    height: 22rem;
    width:90%;
    object-fit: cover;
}

#productindextitle {
    padding: 1rem;
}

#productshowpageimg {
    height: 40%;
    width: 40%;
}

#productshowpagediv {
    display:flex;
}

#entirelowernavbar {
    display: flex;
    flex-direction: column;
    height:60px;
    width:90%;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black
}

#lowernavbartext {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#hnavline{
    height:4px; 
    background: #dbdcdc
}



#CHECK300{
    background-color: purple;
    height: 300px;
    width: 300px;

}
#CHECK400 {
    background-color: green;
    height: 600px;
    width: 600px;
}

#productshowpagediv {
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    background-color: cadetblue;
    height: 600px;
    justify-content: space-around;
}

#hnavlineupdate { 
    height:4px; 
    background: #dbdcdc;
    width: 95%;
    margin-top:10px;
    /* margin:auto; */
}

#productshowpageimg {
    /* height: 22rem; */
    height: 500px;
    width: 400px;
    /* width:90%; */
    object-fit: cover;
    align-self: center;
    margin-left: 20px;
}

#productshowdescription {
    background-color: transparent;
    height: 500px;
    width: 400px;
    align-self: center;
    display:flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

#productshowaddtocart {
    background-color: darkgoldenrod;
    height: 500px;
    width: 300px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#productshowaddtocartfirst{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    margin-top:10px;
}

#productshowprice{
    font-size: 22px;
    color: darkred;
    font-weight: 600;
}

#servicedate{
    margin-top:7px;
}

#productshowtitle {
    font-size: 24px;
    font-weight: 800;
}

#productshowratings {
    font-weight: 700;
    font-size:20px;
}

#productshowreview {
    display:flex;
    flex-direction: column;
}

#aboutthishero {
    margin-top: 20px;
    font-weight: 700;
}


#cartindexborder {
    background-color: white;
    height:max-content;
    width:100%;
    display:flex;
    flex-direction:column;
}

#cartindeximage {
    height: 250px;
    width:200px;
    /* padding: 1rem; */
}


#hnavlineupdate { 
    height:4px; 
    background: #dbdcdc;
    width: 95%;
    margin-top:10px;
    align-self: center;
    /* margin:auto; */
}

#minicartindexdiv {
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}

#innercartindexdiv {
    display:flex;
    flex-direction: column;
    padding: 1rem;
}

#cartindexprice {
    font-weight: 800;
    font-size: 20px;
}

#cartindexinstock {
    color: rgb(7, 145, 7);
}

#totalpricediv {
    height: 150px;
    width: 300px;
    background-color: white;
    margin-left:20px;
    display: flex;
    flex-direction: column;
}

#cartindexoutterdiv {
    display:flex;
    flex-direction: row;
    background-color:#eaeded;
}

#outtermostcartindexdiv {
    background-color:#eaeded;
}

#ratingsbutton {
    display:none;
}

#star {
    cursor: pointer;
    transition: color 200ms;
}

#star:hover {
    color: #ffc107
}

#reviewdiv, #reviewformdiv {
    display: flex;
    flex-direction: column;
}

#starratingbox {
    display: flex;
    flex-direction: row;
}

#productshowreviewdiv {
    display: flex;
    flex-direction: row;
}

#productshowreview2 {
    display:flex;
    flex-direction:column;
    background-color:purple
}