/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 

 #formdivsignup {
     /* background-color: aqua; */
     border: 1px solid rgb(224, 223, 223);
     border-radius: 4px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     /* align-items: center; */
     height: 537.8px;
     margin: auto;
     width: 350px;
     text-align: left;
     box-sizing: border-box;
     font-family: "Amazon Ember",Arial,sans-serif;
 }

 #formdivlogin {
       /* background-color: aqua; */
       border: 1px solid rgb(224, 223, 223);
       border-radius: 4px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       /* align-items: center; */
       height: 325px;
       margin: auto;
       width: 350px;
       text-align: left;
       box-sizing: border-box;
       font-family: "Amazon Ember",Arial,sans-serif;
 }
 
 #formlabel {
     display: flex;
     flex-direction: column;
     line-height: 19px;
 } 

 #formheader, #linkform {
     text-align: left;
     margin-left: 25px;
 }

 #formheader {
     font-size: 28px;
 }

 #innerform {
     /* background-color: brown; */
     height: 435px;
     width: 300px;
     margin: auto;
     display: flex;
     flex-direction: column;
     /* line-height: 19px; */
     justify-content: space-around;
 }

 #forminput, #submitform {
    line-height: 32px;
    border-radius: 4px;
    border: 1px solid rgb(124, 123, 123);
 }

 #submitform {
    background-color: rgb(223, 177, 79);
 }